/* General Layout */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.user-management-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
}

.container {
    display: flex;
    min-height: 100vh;
}

/* Sidebar */
.sidebar {
    display: flex;

    flex-direction: column;
    grid-column: span 2;

    border-right: 1px solid rgb(203, 203, 203);

    justify-content: center;

    height: 100vh;
}

.sidebar h4 {
    margin: 0;
}

.sidebar button {
    background-color: #ffffff;
    color: #080808;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 6.5rem;
    height: 3.5rem;
    font-weight: bolder;
}

.sidebar button:hover {
    background-color: #000;
    border: 1px solid rgb(255, 255, 255);
    color: #fff;
}

/* Main Content */
.main-content {
    grid-column: span 9;
    padding: 1rem;
    height: 100vh;
}

.main-content h3 {
    margin: 0;
}

.table-container {
    overflow-x: auto;
    margin-top: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

thead th {
    border-bottom: 1px solid #ccc;
    padding: 0.5rem;
}

tbody td {
    padding: 0.5rem;
    border-bottom: 1px solid #ccc;
}

button {
    padding: 0.5rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.add-button {
    background-color: #1b1b1b;
    color: #fff;
    border: 1px solid #ccc;
    width: 6.5rem;
    height: 2.5rem;
    
    margin: auto;
}

button.add-button:hover {
    background: #ffffff;
    border: 1px solid #000000;
    color: #000000;
}

button.edit-button,
button.delete-button {
    background-color: transparent;
    border: 1px solid #ccc;
    color: #000;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: left;
    justify-content: center;
    margin-right: 0.5rem;
}

button.edit-button:last-child {
    margin-right: 0;
}

button.edit-button:hover {
    background: #000000;
    border: 1px solid #000000;
    color: #ffffff;
}

button.delete-button {
    border: 1px solid #dc3545;
    color: #dc3545;
}

button.delete-button:hover {
    background: #dc3545;
    border: 1px solid #dc3545;
    color: #ffffff;
}

.actions-container {
    display: flex;
    justify-content: flex-start;
}

/* Pagination */
.pagination-controls {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.pagination-button {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid #ccc;
    cursor: pointer;
    color: #000;
}

.pagination-button:hover {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
}

.pagination button.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination span {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Modal */
.modal-overlay-listing {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.modal-content-listing {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.choice-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.close-modal {
    position: absolute;
    top: 10px;
    left: 160px;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #ccc;
}

.close-modal-listing {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #ccc;
    width: 50px;
    
}

.close-modal:hover {
    background: none;
    /* Sin cambios en el fondo */
    color: #000;
}

.user-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.user-form label {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    color: #333;
}

.password-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.password-container label {
    flex: 1;
}

.user-form fieldset {
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}

.user-form input[type="text"],
.user-form input[type="email"],
.user-form input[type="password"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.user-form input[type="file"] {
    margin-top: 0.5rem;
}

.submit-button {
    background-color: #000;
    color: #fff;
    padding: 0.75rem;
    border: 1px solid #000000;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bolder;
}

.submit-button:hover {
    background: #fff;
    color: #000;
    border: 1px solid #000000;
}

.header-with-icon {
    display: flex;
    align-items: center;
    /* Centra verticalmente los elementos */
    justify-content: space-between;
    /* Alinea el texto y el ícono */
}

.header-with-icon h2 {
    margin-left: 60px;
    /* Espacio entre el texto y el ícono */
}

.icon-trash {
    font-size: 64px;
    /* Tamaño del ícono */
    color: rgb(0, 0, 0);
    /* Cambia el color si lo deseas */
    margin-right: 50px;
    margin-bottom: 20px;
}